
@import url('https://fonts.googleapis.com/css?family=Orbitron');
body {
  background-color: #121212;
  color: aliceblue;
}

#clock {
  font-family: 'Orbitron', sans-serif;
  color: #66ff99;
  font-size: 56px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

footer .container {
  text-align: center;
  text-transform: capitalize;
  color: #fff;
  font-family: tahoma;
  margin-top: 400px;
}
footer p a {
  color: #66ff99;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  font-style: italic;
}